HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
.gradle/**
**/.gradle/**
build/**
gradle/**
**/gradle/**
gradlew
**/gradlew
gradlew.bat
**/gradlew.bat
src/main/webapp/**
tomcat.8080/**
!**/src/main/**
!**/src/test/**
**/logs
**/build.gradle
**/settings.gradle
assignment/local-files

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
venv
